body{
	background-color:white;
}
#ATM_Frame{
	width: 500px;
	height: 665px;
	background-color:red;
	border-width: 5px;
	border-color: yellow;
	margin: auto;
}
.keypad{
	width: 150px;
	height: 150px;
	background-color: blue;
	padding: 5px;
	float: left;
	margin-left: 5px;
	margin-top: 5px;
	color: white;
	font-size: 100px;
	text-align: center;
}
.keypad:hover{
	background-color: lightblue;
	color: black;
}
.longtext{
	font-size: 50px;
}



